body {
    background-color: #f2c94c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Figtree, sans-serif;
    font-size: 16px;
    
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 8px 8px rgb(0, 0, 0);
    overflow: hidden;
    width: 380px;
    text-align: left;
}

.card-image img {
    width: 90%;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.card-content {
    padding: 20px;
}

.badge {
    background-color: hsl(47, 88%, 63%);
    color: #000;
    margin-bottom: -5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Figtree;
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
}

.badge:hover {
    background-color: #000;
    color: #fff;
    border: 0 solid #fff;

}

.date {
    font-family: Figtree;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-family: Figtree;
    font-weight: 800;
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 15px;
}

h2:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

p {
    font-family: Figtree;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.description {
    color: hsl(0, 0%, 50%);
}

.author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.author p {
    font-family: Figtree;
    font-weight: 800;
    font-size: 14px;
    color: #333;
    margin: 0;
}
